/*

!.gitignore
!.bashrc
!.fehbg
!.xprofile
!.xsession

!Themes/*
!Scripts/*

!.config/bspwm/bspwmrc
!.config/gtk-3.0/*
!.config/gtk-4.0/*
!.config/helix/*
!.config/kitty/kitty.conf
!.config/lf/*
!.config/sxhkd/*
