#!/bin/sh
xset r rate 225 40 &
setxkbmap gb &
xsetroot -cursor_name left_ptr
xrandr --output DP-0 --primary --auto
xrandr --output HDMI-0 --auto --right-of DP-0
~/.fehbg

if [ -d /etc/X11/xinit/xinitrc.d ] ; then
 for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
  [ -x "$f" ] && . "$f"
 done
 unset f
fi
